body {
    margin: 0px;
    padding: 0px;
  }
#forms{
margin: 150px 600px;
}
button{
    width: auto;
    height: auto;
    padding: 12px 20px;
    background: #9b59b6;
    color: white;
    border: 2px solid #ecf0f1;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
  }
#result{
    margin: 150px 650px;
   font-size: xx-large;
   border: 4px double #000000;
   border-radius: 20px;
   border-style: double #898989;
   background-color: #9b59b6;
   cursor: pointer;

}